  {{log dream}}
  <section data-id="{{dream.id}}" class ='dream_listing'>
    <div class="dream-box">
    <h6>Date:</h6>
    <h3>
      {{dream.date}}
    </h3>
    <h6>Mood:</h6>
    <h3>
      {{dream.mood}}
    </h3>
    <h6>Body:</h6>
    <p>
    <h3>
      {{dream.body}}
    </h3>
  </p>
  <button data-id="{{dream.id}}" class="btn btn-danger delete"> DELETE </button>
  </div>
  </section>
